/* 
Phoca Download
http://www.phoca.cz/ 
http://www.phoca.cz/phocadownload
*/

/*#phoca-dl-category-box a {
    line-height: 1.2em;
}

#phoca-dl-category-box span{
    font-size: 14pt!important;
    line-height: 1.2em;
}*/